@import url(global.css);

*, *::before, *::after{
    box-sizing: border-box;
}

/* root */
body{
    padding: 0;
    margin: 0;
    background-color: var(--color-zinc-100);
}
.spendingForm{
    width: 600px;
    margin: 50px auto;
    display: flex;
    gap:10px;
    justify-content: space-between;
}

.spendingForm__btn{
    background-color: var(--color-primary-300);
    border: 1px solid var(--color-primary-300);
    cursor: pointer;
}


.spendingWrapper{
    width: 600px;
    margin: 50px auto;
}

.spendingList{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--color-zinc-500);
}

.spendingList__cost--in{
    color: var(--color-primary-400);
}

.spendingList__cost--out{
    color: var(--color-red-400);
}

.spendingList__delBtn{
    background-color: var(--color-zinc-400);
    border: 1px solid var(--color-zinc-400);
    color: var(--color-white-100);
    cursor: pointer;
}

.totalList{
    color: var(--color-zinc-800);
    display: flex;
    justify-content: space-between;
}