@import url(global.css);

*, *::before, *::after{
    box-sizing: border-box;
}

/* root */
body{
    padding: 0;
    margin: 0;
    background-color: var(--color-zinc-100);
}
.spendingForm{
    width: 600px;
    margin: 50px auto;
}
.spendingWrapper{
    width: 600px;
    margin: 50px auto;
}

.spendingList{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap:200px;
}

.spendingList__cost--in{
    color: var(--color-primary-300);
}

.spendingList__cost--out{
    color: var(--color-red-300);
}

.totalList{
    display: flex;
    justify-content: space-between;
}