@import url(global.css);

*, *::before, *::after{
    box-sizing: border-box;
}

/* root */
body{
    padding: 0;
    margin: 0;
    background-color: var(--color-zinc-100);
}

.accountWrapper{
    width: 330px;
    height: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--color-white-100);
    padding: 30px;
    box-shadow: 3px 2px 20px 3px var(--color-zinc900-60);
    h3{
        color:var(--color-primary-600)

    }
}

.accountWrapper__singInOrUp{
    margin: 25px 0;
    display: flex;
    gap: 15px;
    button{
        background-color: var(--color-white-100);
        color:var(--color-zinc-800);
        border-radius: 0;
        cursor: pointer;
    }
}

.accountWrapper__error{
    color:var(--color-red-600);
    margin-top: 10px;
}

.actionSingBtn{
    border-bottom: 2.5px solid  var(--color-primary-300);
}

.signForm{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:15px;
    input{
        height: 35px;
        border-radius: 25px;
        padding-left: 15px;
    }
    label{
        height: 35px;
        display: flex;
        align-items:center;
        gap:5px;
        input{
            padding-left: 0px;
        }
    }
    button{
        height: 35px;
        border-radius: 25px;
        padding-left: 15px;
        background-color: var(--color-primary-300);
        box-shadow: 1px 1px 2px;
    }
}

.spendingForm{
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    /* flex-wrap: wrap; */
    /* gap:5px; */
    justify-content: space-between;
    select{
        /* max-width: 150px; */
        width:150px;
        height:35px;
        padding-left: 10px;
    }
    input{
        /* max-width: 170px; */
        width:170px;
        height:35px;
        padding-left: 10px;
    }
}

.spendingForm__btn{
    /* max-width: 60px; */
    width: 60px;
    height:35px;
    background-color: var(--color-primary-300);
    border: 1px solid var(--color-primary-300);
    cursor: pointer;
    &:hover{
        background-color: var(--color-primary-500);
        border: 1px solid var(--color-primary-500);
        color: var(--color-white-100);
    }
}

.spendingWrapper{
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
}

.spendingList{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--color-zinc-500);
}

.spendingList__cost--in{
    color: var(--color-primary-400);
}

.spendingList__cost--out{
    color: var(--color-red-400);
}

.spendingList__delBtn{
    background-color: var(--color-zinc-400);
    border: 1px solid var(--color-zinc-400);
    color: var(--color-white-100);
    cursor: pointer;
}

.totalList{
    color: var(--color-zinc-800);
    display: flex;
    justify-content: space-between;
}

@media(max-width:672px){
    .spendingForm{
        width: 90%;
        flex-wrap: wrap;
        gap:10px;
        justify-content: space-between;
        select{
            width:100%;
            border-radius: 25px;
        }
        input{
            width:100%;
            border-radius: 25px;
        }
    }

    .spendingForm__btn{
        width: 100%;
        border-radius: 25px;
    }

    .spendingWrapper{
        max-width: 600px;
        width: 100%;
        margin: 50px auto;
        padding: 0 25px;
    }
}